@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
    --color1: white;
    --color2: lightgray;
    --color3: #17BAE2;
    --color4: darkgray;
    --color5: rgb(63, 63, 63);
    --fon-cl: #EDEEF0;
    --line-cl: #E6E8EC;

    --color-n1: #AFD8DA;
    --color-n2: #FEAEAC;
    --color-n3: #FBD981;
    --color-n4: #C7E7F1;
}
.text_color3 {
    color: var(--color3);
}
.text_weight500 {
    font-weight: 500;
}
.text_align_justify {
    text-align: justify;
}

.size560 {
    max-width: 560px;
}
h1, h2, h3 {
    font-family: Montserrat !important;
}
body {
    background-color: var(--color2)
}
/* Шапка */

.main_header {
    height: 108px;
    width: 100%;   
}

.header_block1 {
    height: 100%;
    background-color: var(--color1);
    border-bottom: 2px solid var(--color2);
}
.main_header_block1_container {
    height: 100%;
}
.header_block1_flex {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 4%;
}
    /* Лого */
    .logo_block {
        width: 490px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        gap: 4%;
    }
    .logo_block_img {
        width: 80px;
    }
    .logo_block_name {
        font-size: 25px;
        color: var(--color3);
        font-weight: 500;
        font-family: Montserrat !important
    }

    /* Поиск и пользователь */
    .userAndSearch_block {
        display: flex;
        justify-content: space-between;
        max-width: 380px;
        gap: 12%;
    }
    .search {
        min-width: 80px;
        border: 1px solid var(--line-cl) !important;
        border-radius: 8px;
        background-color: var(--color1) !important;
    }
    .userimg {
        width: 44px;
    }
/* Вход */
.reg_card {
    border-radius: 12px;
    overflow: hidden;
}
.confirm-button {
    border-radius: 8px;
    border: 1px solid var(--color3);
    margin: 0;
    padding: 0 6%;
    font-weight: 500;
    color: var(--color3)
}
.confirm-button:hover {
    background-color: var(--color3);
    color:var(--color1);
    border-color: var(--color3);
}
.reg_card_linkAndbutton {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.main_upload {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.upload_line {
    
    /* width: 300px;
    height: 300px; */
    min-height: 430px;
    border: 6px dashed var(--color3);
    border-radius: 25px;
}
.upload_block {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    /* height: 500px;
    width: 500px; */
    /* background-color: var(--color1); */
}
.upload_block > input {
    width: 70%;
}
.upload_block > button {
    margin-right: 12%;
    align-self: self-end;
}

.upload_h {
    max-width: 400px;
    color: var(--color4);
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
}
.imgupload {
    width: 200px;
}
/* ServiceInfo */
.main_column {
    background-color: var(--color1);
    padding: 40px;  
    min-height: 40px;
    border-radius: 10px;
    margin-bottom: 200px !important;
}
.main_column_height_0_back {
    min-height: 40px;
    animation: change-main-height0_back 1s;
}
.main_column_height_1 {
    min-height: 580px;
    animation: change-main-height1 1s;
}
.main_column_height_1_back {
    min-height: 580px;
    animation: change-main-height1_back 1s;
}
.main_column_height_2 {
    min-height: 870px;
    animation: change-main-height2 1s; 
}
.main_column_height_3 {
    min-height: 1220px;
    animation: change-main-height3 1s; 
}
.display_none {
    display: none;
}
.opacity1_animation {
    
    animation: fade-in 1.3s;
}
.opacity0_animation {
    
    animation: fade-out 0.5s;
}
@keyframes change-main-height0_back {
    from {
        min-height: 1220px;
    }
    to {
        min-height: 40px;
    }
}
@keyframes change-main-height1 {
    from {
        min-height: 40px;
    }
    to {
        min-height: 580px;
    }
}
@keyframes change-main-height1_back {
    from {
        min-height: 1220px;
    }
    to {
        min-height: 580px;
    }
}
@keyframes change-main-height2 {
    from {
        min-height: 580px
    }
    to {
        min-height: 870px;
    }
}
@keyframes change-main-height3 {
    from {
        min-height: 870px
    }
    to {
        min-height: 1220px;
    }
}
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
.main_column_demonstration {
    display: flex;
    gap: 5%;
    align-items: stretch;
}
.main_column_demonstration > h1 {
    margin: 0;
}

.text_example_no_active {
    opacity: .5;
}

.demonstration_text_slider {

    display: flex;
    overflow: hidden;
    height: 384px;
    padding: 6px;
    justify-content: center;
    border-top: 2px dashed var(--color4);
    border-bottom: 2px dashed var(--color4);
    /* border:2px solid; */
    /* border-top: 2px solid radial-gradient(var(--color4)); 
    border-bottom: 2px dashed var(--color4); */
    margin-bottom: 10px;
}
.demonstration_text_slider_helper { 
    width: 60%;
    position: relative;
    min-width: 239.2px;
    display: flex;
    height: 100%;
}
.demonstration_text_slider_block {
    display: flex;
    min-width: 780px;
    gap: 4%;
    width: 326%;
    transition: .3s ease-in-out;
    position: absolute;
}
.demonstration_text_slider_block_position_1 {
    left: 0;
}
.demonstration_text_slider_block_position_2 {
    left: -113%;
}
.demonstration_text_slider_block_position_3 {
    left: -226%;
}
.demonstration_text_card {
    width: 30.7%;
    height: 378.59px;
    
}
.demonstration_text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

.demonstration_text_block_head {
    border-bottom: 1px solid var(--color2);
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.demonstration_text_block_head > h2 {
    word-wrap: break-word;
    width: 100%;
}
.demonstration_stage_up {
    margin-top: 50px;
}
.demonstration_stage_text {
    text-align: center;
    font-weight: 500;
}

.demonstration_btn_block {
    display: flex;
    justify-content: space-around;
}
.demonstration_btn {
    padding: 0 calc(2% + 4px);
}
.user_text {
    font-size: 16px;
}
.demonstration_title {
    font-size: 30px;
    margin-bottom: 50px;
    color: var(--color5);
}


.test_space {
    border-top: 2px dashed var(--color4);
    border-bottom: 2px dashed var(--color4);
    
    background-color: white;
    white-space:pre;
    margin-bottom: 10px;
}
.text2 {
    white-space:pre-wrap;
    padding-left: 1.5em;
    text-indent: -1.5em;
}
.text2 span:nth-child(2), span:nth-child(4), span:nth-child(6) {
    color: red;
    font-weight: 500;
}

.text2 > p {
    margin: 0;
}
.text3 {
    margin-left: -1.5em;
}
.text4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.cursor_text {
    margin-left: 1.5em;
    border-left: 2px solid black;
    animation-duration: 1.5s;
    animation-name: cursor;
    animation-iteration-count: infinite;
}
@keyframes cursor {
    0% {
        opacity: 1;
    }
    22% {
        opacity: 1;
    }
    28% {
        opacity: 0;
    }
    72% {
        opacity: 0;
    }
    78% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.d1 {
    height: 200px;
    width: 200px;
    background-color:beige;
  }
  .d2 {
    background-color:green;
  }

#demonstration_res {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.demonstration_res_block {
    width: 300px;
    max-height: 200px;
    border-radius: 10px;
    margin: 10px; 
    padding: 30px !important;   
}
.demonstration_res_diagram {
    display: flex;
    flex-direction: row;
}
.demonstration_res_line {
    width: 34%;
}
.demonstration_res_know {
    background-color: orange;
}
.demonstration_res_can {
    background-color: greenyellow;
}
.demonstration_res_master {
    background-color: deepskyblue;
}
.demonstration_res_skill_names {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 500;
    padding-right: 10px;
}
.demonstration_res_skill_names_know {
    color:orange;
}
.demonstration_res_skill_names_can {
    color:lawngreen;
}
.demonstration_res_skill_names_master {
    color:deepskyblue;
}
.demonstration_res_skill_percents {
    position: relative;
    display: flex;
    flex-direction:row;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--color4)
}
.demonstration_res_skill_percents_num {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.demonstration_res_block_skill {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    width: 100%;
}
.demonstration_res_block_skill:first-letter {text-transform: capitalize;}

.img_work {
    /* position: absolute; */
    right: 30px;
    height: 560px;

}
.infopage_zyv_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    /* position: relative; */
    /* height: 450px; */
}
.infopage_zyv {
    font-size: 64px;
}
.infopage_zyv_text {
    padding: 0 40px;
    max-width: 700px;
    /* height: 500px; */
}
.infopage_zyv_text > h1 {
    margin: 0;
}
.infopage_zyv_description {
    font-weight: 500;
    font-size: 30px;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
    font-weight: 700;
    /* text-fill-color: transparent; */
    background: linear-gradient(332.62deg, rgba(50, 147, 232, 0.85) -1.67%, rgba(23, 186, 226, 0.85) 107.1%);
    margin-bottom: 0;
    
}
.color_n1 {
    color:orange;
}
.color_n2 {
    color:greenyellow;
}
.color_n3 {
    color:deepskyblue;
}
.register_button_block {
    display: flex;
    justify-content: end;
}

.traces_block {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    margin-top: 10px;
    align-items: center;
}
.traces_left {
    /* border: 1px solid black; */
    width: 70%;
    
}
.traces > h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}
.traces > h3 {
    margin: 0;
    font-size: 20px;
    color: var(--color4);
}
.traces_left_slider {
    overflow-y: auto;
    max-height: 600px;
    min-height: 430px;
    margin: 0 ;
    /* background-color: orchid; */

    padding: 10px;
    /* margin-left: -10px; */
    border: 8px solid var(--fon-cl);
}
.traces_left_slider > li {
    gap: 10px;
    list-style: none;
    background-color: var(--color1);
    /* border-radius: 20px; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    padding: 10px 20px;
}
.traces_sled_helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.traces_sled_helper1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    max-width: 400px;
    overflow: hidden;
}   
.traces_sled_zyv {
    width: 50%;
    font-size: 13px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2px;
    color:var(--black);
    font-weight: 500;
}
.traces_sled_text {
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}
.traces_sled_text > div {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 20px;
}
.traces_sled_buttons {
    min-width: 120px;
}

.traces_sled_text > a {
    margin: 0;
    /* margin-top: 10px; */
    font-size: 18px;
    color: var(--color4);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
    -webkit-box-orient: vertical;
}
.traces_sled_buttons {
    display: flex;
    gap: 10px;
    
}
.traces_sled_buttons > button > img {
    height: 26px;
}
.traces_right {
    width: 60%;
}
@media only screen and (max-width: 900px) {
    .traces_block {
        justify-content: baseline;
        flex-wrap: wrap-reverse;
    }
    .upload_h {
        font-size: 20px;
    }
    .imgupload {
        width: 140px;
    }
    .upload_name {
        font-size: 14px;
        width: calc(100% - 28px) !important;
    }
    #file-uploader {
        font-size: 14px;
        width: calc(100% - 28px) !important;
    }
    .upload_block > button {
        margin-right: 0;
    }
    .traces_sled_text > span {
        font-size: 20px;
        
    }
    .traces_left_slider {
        max-height: none;
        padding: 6px;
        border: none;
    }
    .traces_sled_buttons {
        min-width: 80px;
    }
    .traces_sled_buttons > button {
        padding: 7px;
    }
    .traces_sled_text > a {
        font-size: 16px;
    }
    
    .traces_right {
        width: 100%;
        margin-bottom: 20px;
    }
    .traces_left {
        width: 100%;
    }
}

@media only screen and (max-width: 680px) {
  
    .logo_block_name {
        font-size:18px;
    }
    .main_header {
        margin-bottom: 20px !important;
        height: 90px;
    }
    .logo_block_img {
        width: 65px;
    }
}
@media only screen and (max-width: 560px) {
    .traces_sled_text > a {
        font-size: 14px;
    }
    .traces_sled_text > div {
        font-size: 16px;
    }
    .traces_sled_text {
        gap: 4px;
    }
    .demonstration_title {
        margin-bottom: 20px;
    }
    .traces_sled_zyv {
        font-size: 11px;
    }
    .infopage_zyv {
        font-size: 40px;
    }
    .infopage_zyv_block {
        height: auto;
        margin-bottom: 20px;
    }
    .infopage_zyv_description {
        font-size: 20px;
    }
    
    h4 {
        font-size: 16px;
    }
    .uk-input {
        font-size: 13px;
    }
    .reg_card_linkAndbutton {
        font-size: 14px;
    }
    .demonstration_title {
        font-size: 28px;
    }
    .logo_block_name {
        display: none;
    }

    .main_column_height_2 {
        min-height: 1100px;
        animation: change-main-height2 1s; 
    }
    .main_column_height_3 {
        min-height: 1350px;
        animation: change-main-height3 1s; 
    }
    @keyframes change-main-height0_back {
        from {
            min-height: 1350px;
        }
        to {
            min-height: 40px;
        }
    }
    @keyframes change-main-height1_back {
        from {
            min-height: 1350px;
        }
        to {
            min-height: 580px;
        }
    }
    @keyframes change-main-height2 {
        from {
            min-height: 580px
        }
        to {
            min-height: 1100px;
        }
    }
    @keyframes change-main-height3 {
        from {
            min-height: 870px
        }
        to {
            min-height: 1350px;
        }
    }
    
}

@media only screen and (max-width: 810px) {
    #demonstration_res {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content:space-around;
    }
    .demonstration_res_block {
        width: 100%;
        max-width: 300px;
    }
}

